/* 顶部广告 */
.header{
    width:100%;
    height: 120px;
    overflow: hidden; /*将图片超出规定范围的部分隐藏*/
    position: relative;
}

/*
面试常见的css问题:
    内容居中问题:一个大盒子中有个小盒子，如何让小盒子在大盒子中垂直和水平居中?
    1.弹性盒子模型
    2.定位
    3.表格
*/

/*图片的居中*/
.header img{
    height: 120px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
/* 顶部广告 */